version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore(deps)"
    ignore:
      - dependency-name: "some-package"
        versions: ["1.x.x"]


  - package-ecosystem: "docker"
    directory: "/" 
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(docker)"
